
.layout {
    display: grid;
    margin: 0 auto;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 15% 1fr 15%;
    grid-gap: 12px;
    grid-template-areas:
        "leftbar header rightbar"
        "leftbar content rightbar"
        "footer footer footer";
}

@media all and (max-width: 575px) {
    .layout {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "content"
        "footer";
    }
}

.leftBar {
    grid-area: leftbar;
}

.rightBar {
    grid-area: rightbar;
}

header {
    grid-area: header;
    display: grid;
    margin: 24px auto 0;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: auto 1fr;
    grid-gap: 12px;
    grid-template-areas:
        "avatar fio"
        "role role"
        "stack stack";
}

.avatar {
    grid-area: avatar;
    display: flex;

    align-items: center;
    justify-content: center;
    
}

.avatar::after {
    content: "";
    border-radius: 50%;
    width: 132px;
    height: 132px;

    background: url(https://avatars.githubusercontent.com/u/17797482?s=400&u=0bf2eae067555e23b14abdaf773e070c071ebc35&v=4);
    background-position: 55% 0;
}

.fio {
    grid-area: fio;

    font-size: 3rem;
    font-weight: 800;
    line-height: 1.005;
    letter-spacing: -1.25px;
}

.role {
    grid-area: role;
    display: flex;
    border-top: 1px dashed var(--ink-mid);
    border-bottom: 1px dashed var(--ink-mid);
    padding: 12px 0 12px 6px;

    align-items: center;
    justify-content: space-around;

    font-weight: 800;
    letter-spacing: 10px;
    color: var(--ink-mid);
}

.stack {
    grid-area: stack;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content {
    grid-area: content;
}

.section {
    display: flex;
    margin-top: 24px;

    flex-direction: column;
    gap: 12px;
}

.benefits,
.wishes {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 8px;

    text-align: center;
}

.benefit,
.wish {
    display: flex;
    border: 1px solid var(--line);
    border-radius: var(--radius);
    padding: 16px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--surface);
}

footer {
    grid-area: footer;
    display: flex;
    border-top: 1px solid rgb(152, 157, 164);
    padding: 8px;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(46, 49, 54);
    /* color: var(--ink-mid); */
    color: rgb(136, 141, 148);
}

.contacts {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.email {
    display: flex;
    padding: 7px 14px;

    align-items: center;
    gap: 6px;

    font-size: 13px;
    font-weight: 500;
    color: white;
    transition: background .12s, color .12s;
    text-decoration: underline;
}

.email:hover {
    color: var(--accent);
}

.telegram {
    border-radius: 10%;
    margin-top: 6px;
    padding: 4px;
    background: #ffff;
}

.telegram-qr {
    width: 80px;
}

.copyright {
    display: flex;
    padding: 8px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    font-size: 11px;
    font-weight: 500;
}

.location {
    display: flex;

    gap: 2px;

    font-weight: 500;
}